<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Counter</title>
  </head>
  <body class="bg-gray-100 p-4 font-poppins h-screen">
    <div class="container mx-auto">
      <!-- Navbar -->
      <nav
        class="bg-sky-400 p-4 text-center text-white text-xl font-bold rounded-lg"
      >
        Word Counter
      </nav>

      <!-- Main Content -->
      <div class="grid lg:grid-cols-6 gap-4 mt-6">
        <!-- Left Panel -->
        <div class="lg:block bg-white p-4 rounded-lg shadow col-span-1">
          <app-controls
            [text]="text"
            (textChange)="onTextChange($any($event))"
          ></app-controls>
        </div>

        <!-- Middle Panel -->
        <div
          class="bg-white p-6 rounded-lg shadow flex flex-col lg:col-span-3 col-span-1"
        >
          <!-- Title Input -->
          <div class="relative w-full">
            <input
              type="text"
              [(ngModel)]="title"
              placeholder="Enter Title..."
              class="input w-full pr-20 p-3"
            />
            <button
              [hidden]="!title"
              (click)="saveNote()"
              class="btn btn-info absolute right-4 top-1/2 -translate-y-1/2"
            >
              Save
            </button>
          </div>

          <!-- Word, Sentence & Character Count -->
          <app-counter [text]="text"
          (textChange)="onTextChange($any($event))"></app-counter>
        </div>

        <!-- Right Panel -->
        <div class="bg-white p-4 rounded-lg shadow lg:col-span-2 col-span-1">
          <h3 class="text-lg font-bold">Notes</h3>
          <ul id="notesList" class="m-2 space-y-2">
            <li *ngFor="let note of notes" class="flex flex-col space-y-2">
              <app-note-item
                [note]="note"
                (deleteNote)="removeNote($event)"
                (selectNote)="selectNote($event)"
              ></app-note-item>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
